h1{text-align: center;
    font-size: 1cm;
    color: darkmagenta;
    
}
/* 
p{text-align: center;
   color: blueviolet;
   font-size: 0.7cm; */
   
 /* }
 ol li{
     display:block;
     border:dotted;
     border-color: firebrick;
    text-align: center;
    font-size: 0.6cm;
    color: darkslategray;

} */
/* 
 ul li{
    list-style: circle;
 }

ol li {
list-style-type: lower-latin;
} */


