h1{text-align:justify;
    margin-left: 1cm;
    font-size: 1cm;
    color: darkmagenta;
    font-family: 'Original Surfer', cursive;;
    width:28cm;
    height:3cm;
    padding-top: 2cm;
    padding-left: 1cm;
    border-color: dodgerblue;
    
}


h3{
    text-align: left;
    color:palevioletred;
    border: green;margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    font-size:0.8cm;
    font-family: 'Original Surfer', cursive;;
}

img{
    margin-right:20cm;
    width: 480px;
    
}



